body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 23px;
    font-family: sans-serif;
    grid-template-rows: 30% 70%;
}
header{
    grid-row: 1/2;
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: white;
}
header a{
    align-self: auto;
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: none;
    color: saddlebrown;
}


#aneesh{
    color: white;
    padding: 10px;
    text-shadow: none;
    transition: color 0.5s ease;
    align-items: center;
}

#about_me{
    display: flex;
    color: black;
    line-height:1.5;
    align-items: center;
    justify-content: space-around;
    
}

#about_me p{
    text-align: justify;
    height: fit-content;
    padding: 30px;
    width: 50%;
}

#about_me b{
    color: crimson;
}

footer{
    margin-top:50px ;
    font-size: 9px;
    text-align: center;
}